div{ 
    border: solid 10px;
    border-radius: 50px;
    width: 700px;
   background-color: bisque;
    padding: 25px;
    margin:auto;
    @media screen and (max-width:2280px) {
  /* reglas CSS */
}
@media screen and (max-width:1080px) and (min-width:2280px) {
  /* reglas CSS */
}
@media screen and (min-width:1080px) {
  /* reglas CSS */
}

}
form{ 
    border:solid  10px;
    border-radius: 10px;
    background-color: bisque;
    width: 150px;
}

b{
    border:solid  5px;
    border-radius: 10px;
    background-color: bisque;
    width: 150px;
    bottom: auto;
}
